.about-section{
    /* margin-left:auto;
    margin-right:auto;
    width:780px;
    height:560px;
    padding: 5px; */
}

.about-section h1{
   margin-top: 75px;
   margin-left: 70 px;
   margin-right:50px;
   padding: 26px;
   color: #f5c71a;
}
.about-section p{
    margin-left:auto;
    margin-right:auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family:'Courier New', Courier, monospace;
 }
 .about-section h2{
    margin-left: 70 px;
    margin-right:50px;
    padding: 20px;
    color: #f5c71a;

 }
 .about-section ul{
    margin-right:50px;
    

 }
